.searchInputWrapper {
  display: grid;
  grid-template-columns: 1fr 10px;
  margin: 3rem  2rem;
}

.searchInput {
  height: 3rem;
  border: none;
  padding: 0 2rem;
  border-radius: 2rem;
}

.reset {
  /* grid-area: 1 / 2; */
  /* place-self: end; */
  margin-right: 3rem;
  place-self: center;
}
