.container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas:
    "header header"
    "sidebar results";
}

.container header {
  grid-area: header;
}

.container .sidebar {
  background-color: #f5f5f5;
  grid-area: sidebar;
  padding: 2rem 3rem;
  border-right: .1rem solid #ccc;
  min-height: calc(100vh - 13rem); /* hack */
}

.container .results {
  grid-area: results;
}
