.container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas:
    "header header"
    "sidebar results";
}

.container header {
  grid-area: header;
}

.container .sidebar {
  grid-area: sidebar;
  padding: 1.5rem 1.25rem;
  border-right: .1rem solid #ccc;
}

.container .results {
  grid-area: results;
}
