.container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas:
    "header header"
    "sidebar results";
}

.container header {
  grid-area: header;
}

.container .sidebar {
  grid-area: sidebar;
  background: blue;
}

.container .results {
  grid-area: results;
}
